@import "variables";

.categories-breadcrumb {
  color: $ml-grey;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin: $red-gap 0;
}

.list-container {
  background: white;
  border-radius: 5px;

  hr {
    margin: 0 $red-gap;
  }
}
