<div class="section-container-fluid">
  <div class="categories-breadcrumb">
    <ng-container *ngFor="let category of breadcrumb; index as $index">
      {{category}}
      <span *ngIf="$index != breadcrumb.length-1"> > </span>
    </ng-container>
  </div>
  <div class="list-container">
    <ng-container *ngFor="let item of items; index as $index">
      <meli-item-card [item]="item"></meli-item-card>
      <hr *ngIf="$index != items.length-1">
    </ng-container>
  </div>
</div>

<div class="text-center mt-3" *ngIf="noResultsFound">
  <p>La búsqueda no arrojó ningún resultado.</p>
  <a routerLink="/">Volver al Inicio</a>
</div>
