$green-gap: 32px;
$red-gap:   16px;

$ml-blue:             #3483FA;
$ml-super-light-grey: #EEEEEE;
$ml-light-grey:       #999999;
$ml-grey:             #666666;
$ml-dark-grey:        #333333;
$ml-yellow:           #FFE600;
