<form class="section-container-fluid search-form" (keydown.enter)="$event.preventDefault()">

  <div class="input-group">
    <a routerLink="/"><img class="pr-3" src="/assets/Logo_ML.png"></a>
    <input type="text" class="form-control search-input" name="search-input"
           placeholder="Nunca dejes de buscar"
           [(ngModel)]="searchText" (keyup.enter)="goSearchResults()">
    <div class="input-group-append">
      <span class="input-group-text">
        <span class="oi oi-magnifying-glass"></span>
      </span>
    </div>
  </div>

</form>
