.meli-logo {
  background-image: url("/assets/Logo_ML.png");
}
.search-form {
  background-color: #FFE600;
  padding-top: 10px;
  padding-bottom: 10px;

  .search-input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .form-control,
  .input-group-text .oi {
    font-size: 18px;
    font-weight: 100;
  }
  .form-control,
  .input-group-text {
    border: none;
  }
}
