<div class="item-card-container" *ngIf="item" (click)="goItemDetails()">

  <img class="item-thumbnail" [src]="item.picture" alt="Foto del producto" [title]="'Foto de '+item.title">

  <div class="item-info-container">

    <div class="item-info-middle">
      <div class="item-price">$ {{item.price.amount | number: '1.0-2'}}
        <img class="item-free-shipping-icon" *ngIf="item.free_shipping" src="/assets/ic_shipping.png">
      </div>
      <div class="item-title">{{item.title}}</div>
    </div>

    <div class="item-info-right">
      <div class="item-location">{{item.address.state_name}} - {{item.address.city_name}}</div>
    </div>

  </div>
</div>
