@import "variables";

:host {
  display: grid;
  padding: $red-gap;
  font-weight: 100;
}

.item-card-container {
  cursor: pointer;
}

.item-thumbnail {
  width: 180px;
  height: 180px;
  float: left;
  border-radius: 4px;
  margin: 0 $red-gap;
}

.item-info-container {
  display: flex;
}

.item-info-middle {
  flex-grow: 1;

  .item-price {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
  }

  .item-free-shipping-icon {
    vertical-align: unset;
  }

  .item-title {
    font-size: 18px;
    line-height: 18px;
    margin-top: $green-gap;
  }
}

.item-info-right {
  width: 150px;
  flex-shrink: 0;
  .item-location {
    font-size: 12px;
    color: $ml-light-grey;
  }
}
