<div class="section-container-fluid" *ngIf="item">

  <div class="item-details-breadcrumb"></div>

  <div class="item-details-container">

    <div class="left-container">

      <img [src]="item.picture" alt="Foto del producto" [title]="'Foto de '+item.title">

      <div>
        <div class="title">Descripción del producto</div>
        <div class="description">{{item.description}}</div>
      </div>

    </div>

    <div class="item-info-container">
      <div class="conditions-soldq">
        {{getCondition(item.condition)}} - {{item.sold_quantity}} {{item.sold_quantity == 1 ? 'vendido' : 'vendidos'}}
      </div>
      <div class="title">{{item.title}}</div>
      <div class="price">$ {{item.price.amount | number: '1.0-2'}}</div>
      <button type="button" class="buy-btn" (click)="goCheckout()">Comprar</button>
    </div>

  </div>

</div>
<div class="text-center mt-3" *ngIf="itemNotFound">
  <p>No se encontró el producto buscado.</p>
  <a routerLink="/">Volver al Inicio</a>
</div>
