@import 'variables';

$picture-container-size: 680px;

.item-details-breadcrumb {
  padding: $red-gap 0;
}

.item-details-container {
  background-color: white;
  border-radius: 4px;
  display: inline-flex;
  padding-top: $green-gap;

  .left-container {
    width: $picture-container-size;
    flex: 0 0 680px;

    img {
      max-width: $picture-container-size - $green-gap;
      max-height: $picture-container-size - $green-gap;
      display: block;
      margin: auto;
    }

    .title {
      font-size: 28px;
      line-height: 28px;
      margin: $green-gap;
    }
    .description {
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
      margin: $green-gap;
      word-wrap: break-word;
      white-space: pre-wrap;
      color: $ml-light-grey;
    }
  }

  .item-info-container {
    padding: 0 $green-gap 0 0;

    .conditions-soldq {
      font-size: 14px;
      line-height: 14px;
    }

    .title {
      font-size: 24px;
      line-height: 24px;
      margin-top: $red-gap;
    }

    .price {
      font-size: 46px;
      line-height: 46px;
      margin-top: $green-gap;
    }

    .buy-btn {
      background-color: $ml-blue;
      color: white;
      border-radius: 4px;
      width: 100%;
      height: 40px;
      margin: $green-gap 0;
    }
  }
}
